.home-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.filters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  background-color: #3498db;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filters-container label {
  font-weight: bold;
  margin-bottom: 0rem;
  color: white;
}

.filters-container select {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filters-container select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.auctions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 25px;
}

.pagination button{
  font-size: 16px;
  background-color: #cccccc;
}

.pagination button:hover {
  background-color: #8e8e8e; 
}

.pagination span {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.register-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-container form{
  padding-top: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.form-group label {
  width: 150px;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
}

.form-group input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #2c455e;
  border-radius: 4px;
}

.register-container button{
  width: 100%;
  padding: 10px 20px;
  background-color: #2c455e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; 
  font-size: 16px;
}

.register-container button:hover {
  background-color: #3498db;
  color: #2c455e; 
}

.register-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2c455e;
  color: #ecf0f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo{
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-logo img{
  height: 50px;
  width: auto;
}

.navbar-links{
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-title{
  display: flex;
  
  
  color:white
}

.navbar-links a,
.navbar-auth .auth-link {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3498db;
  transition: width 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout-button {
  background-color: #e74c3c; /* Crvena boja */
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c0392b;
}

.welcome-message {
  color: #bdc3c7;
  font-weight: 300;
}

.navbar-auth .auth-link {
  background: none;
  border: 2px solid #3498db;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.navbar-auth .auth-link:hover {
  background-color: #3498db;
  color: #2c455e;
}
